<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  <!--
  <Section Name="MyConfigSection">
    <Parameter Name="MyParameter" Value="Value1" />
  </Section>
  -->
  <Section Name="ReferenceDataConfiguration">
    <Parameter Name="ServiceBusConnectionString" Value="" />
    <Parameter Name="JobsQueueName" Value="" />
    <Parameter Name="JobStatusQueueName" Value="" />
    <Parameter Name="AuditQueueName" Value="" />
    <Parameter Name="LoggerConnectionString" Value="" />
  </Section>

  <Section Name="FcsConfiguration">
    <Parameter Name="FcsConnectionString" Value=""/>
  </Section>
</Settings>
